NODE RED FLOW.json
[{"id":"a3fca508.96a038","type":"tab","label":"PROJECT","disabled":false,"info":""},{"id":"c533fad3.020128","type":"ibmiot in","z":"a3fca508.96a038","authentication":"apiKey","apiKey":"2bc5dfc0.c3a39","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":false,"allFormats":"","qos":0,"x":70,"y":80,"wires":[["45859dfc.0801b4","1de4c09b.2fe45f","2888f648.4e67ea","32512212.cff5ee"]]},{"id":"1de4c09b.2fe45f","type":"function","z":"a3fca508.96a038","name":"DUST PARTICLES","func":"global.set('dpar', msg.payload.dustparticles)\nmsg.payload =msg.payload.dustparticles\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":40,"wires":[["5285a3b0.707a9c","6410c2d0.f7757c"]]},{"id":"32512212.cff5ee","type":"function","z":"a3fca508.96a038","name":"WATER TEMPERATURE","func":"global.set('Wtemp',msg.payload.watertemperature)\nmsg.payload = msg.payload.watertemperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":200,"wires":[["5e28e555.a2e03c","6410c2d0.f7757c"]]},{"id":"a7bdfa5f.4a0838","type":"http in","z":"a3fca508.96a038","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":420,"wires":[["e2ac27c6.cf8298"]]},{"id":"5970d406.1beedc","type":"http response","z":"a3fca508.96a038","name":"","statusCode":"","headers":{},"x":870,"y":340,"wires":[]},{"id":"e2ac27c6.cf8298","type":"function","z":"a3fca508.96a038","name":"Webpage","func":"msg.payload = \n//{\n  //  \"dustparticles\" : global.get('dpar'),\n    //\"phvalues\" : global.get('ph'),\n    //\"watertemperature\" : global.get('Wtemp')\n//}                                              \n//if('dpar' > 45&&'ph' > 8&&'Wtemp' > 110){\n    payload == 'ALERT!!!THE RIVER WATER IS CONTAMINATED'\n//}\n//else{\n    //payload = \"THE RIVER WATER IS CLEAN\"\n//}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":420,"wires":[["d87b618c.c356b"]]},{"id":"5285a3b0.707a9c","type":"ui_gauge","z":"a3fca508.96a038","name":"","group":"62949741.2b3fe8","order":1,"width":0,"height":0,"gtype":"gage","title":"DUST PARTICLES.","label":"Per ","format":"{{value}}","min":0,"max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":40,"wires":[]},{"id":"5e28e555.a2e03c","type":"ui_gauge","z":"a3fca508.96a038","name":"","group":"fe146e66.d6301","order":1,"width":0,"height":0,"gtype":"gage","title":"WATER TEMPERATURE","label":"units","format":"{{value}}","min":"-20","max":"125","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":200,"wires":[]},{"id":"2888f648.4e67ea","type":"function","z":"a3fca508.96a038","name":"PH LEVEL ","func":"global.set('ph',msg.payload.phvalues)\nmsg.payload = msg.payload.phvalues\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":120,"wires":[["daacc721.8a1658","6410c2d0.f7757c"]]},{"id":"daacc721.8a1658","type":"ui_gauge","z":"a3fca508.96a038","name":"","group":"838fe435.c38778","order":1,"width":0,"height":0,"gtype":"gage","title":"PH LEVEL","label":"units","format":"{{value}}","min":"6","max":"11","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":120,"wires":[]},{"id":"45859dfc.0801b4","type":"debug","z":"a3fca508.96a038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":80,"wires":[]},{"id":"6410c2d0.f7757c","type":"switch","z":"a3fca508.96a038","name":"ALERT!!!","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"str"},{"t":"gt","v":"8","vt":"str"},{"t":"gt","v":"110","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":280,"wires":[[],["a0a39b8d.662a48"],[]]},{"id":"922ed6a8.691a78","type":"ui_toast","z":"a3fca508.96a038","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"ALERT","x":900,"y":280,"wires":[]},{"id":"a0a39b8d.662a48","type":"function","z":"a3fca508.96a038","name":"","func":"msg.payload = \"ALERT!!!!The river water is contaminated. Please check\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":280,"wires":[["922ed6a8.691a78"]]},{"id":"d87b618c.c356b","type":"http request","z":"a3fca508.96a038","name":"PARAMETERS","method":"GET","ret":"txt","paytoqs":"query","url":" https://www.fast2sms.com/dev/bulkV2?authorization=jogTVrsR7mvUuGBPphNflY1xAXJD8zOKL4k5FbHIES9qC30ZWMKWw84evEQsU97DxLImpdFkfYAo2iNJ&route=q&message=payload&language=english&flash=0&numbers=8341510603","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":420,"wires":[["cb0c15e4.eee8f8","5970d406.1beedc"]]},{"id":"f45dbd06.52f8","type":"inject","z":"a3fca508.96a038","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":320,"wires":[[]]},{"id":"cb0c15e4.eee8f8","type":"debug","z":"a3fca508.96a038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":420,"wires":[]},{"id":"2bc5dfc0.c3a39","type":"ibmiot","name":"adv","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"62949741.2b3fe8","type":"ui_group","name":"RIVER WATER QUALITY PARAMETERS - DUST PARTICLES","tab":"f6674cc0.d2842","order":1,"disp":true,"width":9,"collapse":false,"disabled":false,"hidden":false},{"id":"fe146e66.d6301","type":"ui_group","name":"RIVER WATER QUALITY PARAMETERS - WATER TEMPERATURE","tab":"f6674cc0.d2842","order":3,"disp":true,"width":9,"collapse":false},{"id":"838fe435.c38778","type":"ui_group","name":"RIVER WATER QUALITY PARAMETERS - PH LEVEL","tab":"f6674cc0.d2842","order":2,"disp":true,"width":9,"collapse":false},{"id":"f6674cc0.d2842","type":"ui_tab","name":"PROJECT","icon":"dashboard","disabled":false,"hidden":false}]